<div class="container">
    <span>Mitarbeiterverwaltung</span>
    <div class="right-header">
        <!-- Input muss nicht sein, für was wäre sinnvoll ?! -->
        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Suche" />
        </p-iconfield>
        <div class="user">
            <img src="" alt="{{firstName + lastName}}">
            <span>{{ firstName }}</span>
            <span>{{ lastName }}</span>
        </div> 
    </div>
    <button (click)="signOut()">Logout</button>
</div>
