.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(120deg, #74ebd5 0%, #ACB6E5 100%);

    form {
        display: flex;

        >div {
            display: flex;
            flex-direction: column;
            gap: 24px;

            max-width: 350px;
            margin: 80px auto;
            padding: 2.5rem 2rem;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 18px;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
            backdrop-filter: blur(16px);
            -webkit-backdrop-filter: blur(16px);
            border: 1px solid rgba(255, 255, 255, 0.22);

            .field {
                display: flex;
                align-items: center;
                gap: 16px;
                justify-content: flex-end;
                flex-direction: column;

                p-floatlabel {
                    display: flex;
                    align-items: center;
                }


                label {
                    margin-right: 16px;
                    background: rgba(255, 255, 255, 0.05)
                }

                input {
                    min-width: 240px;
                    padding: 12px;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
                    color: #222;
                    outline: none;
                    background: rgba(255, 255, 255, 0.05)
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                }
            }

            p-button {
                align-self: center;
            }
        }
    }
}