:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.employees {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    ::ng-deep p-table {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;

        .p-datatable-scrollable {
            display: flex; // ★ Wichtigster Fix!
            flex-direction: column;
            min-height: 0;
            flex: 1;

            >.p-datatable-table-container {
                flex: 1;
                position: relative;
            }
        }

    }
}





.employee-tr {
    &:hover {
        background-color: rgb(233, 233, 233);
    }
}

@media only screen and (max-width: 768px) {
    .employee-tr {
        cursor: pointer;
    }
}