<div class="container">
  <p-toast></p-toast>
  <div>
    <p-button (click)="showDialog()" label="Mitarbeiter hinzufügen" />
    <p-button (onClick)="getSession()"></p-button>
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visibleAddEmployeeDialog" [style]="{ width: '25rem' }">
      <span class="p-text-secondary block mb-8">Mitarbeiter hinzufügen</span>
      <p-floatlabel variant="on" class="flex items-center gap-4 mb-4">
          <label for="firstName" class="font-semibold w-24">Vorname</label>
          <input pInputText [(ngModel)]="employee.firstName" id="firstName" class="flex-auto" autocomplete="off" />
      </p-floatlabel>
      <p-floatlabel variant="on" class="flex items-center gap-4 mb-4">
        <label for="lastName" class="font-semibold w-24">Nachname</label>
        <input pInputText [(ngModel)]="employee.lastName" id="lastName" class="flex-auto" autocomplete="off" />
      </p-floatlabel>
      <p-floatlabel variant="on" class="flex items-center gap-4 mb-4">
        <label for="email" class="font-semibold w-24">Privat Email</label>
        <input pInputText [(ngModel)]="privateEmail" type="email" id="email" class="flex-auto" autocomplete="off" />
      </p-floatlabel>
      <p-floatlabel variant="on" class="flex items-center gap-4 mb-4">
        <label for="jobTitle" class="font-semibold w-24">Job Title</label>
        <input pInputText [(ngModel)]="employee.jobTitle" id="jobTitle" class="flex-auto" autocomplete="off" />
      </p-floatlabel>
      <p-floatlabel variant="on" class="flex items-center gap-4 mb-4">
        <label for="startDate" class="font-semibold w-24">Start Datum</label>
        <p-datepicker
          [ngModel]="employee.startDate ? (employee.startDate | date:'yyyy-MM-dd') : null"
          (ngModelChange)="onStartDateChange($event)"
          id="startDate"
          showIcon
          iconDisplay="input"
          dateFormat="yy-mm-dd">
        </p-datepicker>

      </p-floatlabel>

      <div class="card flex justify-center">
        <p-select
            [(ngModel)]="employee.status" 
            [options]="statusOptions" 
            optionLabel="label" 
            optionValue="value"
            placeholder="Select a Status" 
            class="w-full md:w-56" 
        />
      </div>
      <div class="card flex justify-center">
        <p-select 
            [(ngModel)]="employee.employmentType"
            [options]="employmentType" 
            optionLabel="label" 
            optionValue="value"
            placeholder="Select a Employment Type" 
            class="w-full md:w-56" 
        />
      </div>
      <div class="card flex justify-center">
        <p-select 
            [(ngModel)]="employee.contractType"
            [options]="contractTypes" 
            optionLabel="label" 
            optionValue="value"
            placeholder="Select a Contract Type" 
            class="w-full md:w-56" 
        />
      </div>


      <div class="flex justify-end gap-2">
          <p-button label="Cancel" severity="secondary" (click)="visibleAddEmployeeDialog = false" />
          <p-button (onClick)="onSaveEmployee()" label="Save" (click)="visibleAddEmployeeDialog = false" />
      </div>
    </p-dialog>
  </div>
    <div class="employees">
      <p-table
        [value]="employees"
        [paginator]="true"
        [rows]="10"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[10, 25, 50]"
        scrollable="true"
        stripedRows
        sortField="lastName"
        [sortOrder]="1"
      >
        <!-- Header -->
        <ng-template pTemplate="header">
          <tr>
            <ng-container *ngFor="let col of columns">
              <th
                *ngIf="!col.roles || col.roles.includes(role)"
                [style.width]="col.width"
                [pSortableColumn]="col.field"
                [pSortableColumnDisabled]="!col.sortable">
              
                {{ col.header }}
                <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
              </th>
            </ng-container>
          </tr>
        </ng-template>
  
        <!-- Body -->
        <ng-template pTemplate="body" let-employees>
          <tr (click)="onRowClick(employees.id)" class="employee-tr">
            <ng-container *ngFor="let col of columns">
              <td
                *ngIf="!col.roles || col.roles.includes(role)"
                [style.width]="col.width"
              >
                <ng-container [ngSwitch]="col.field">
  
                  <!-- Avatar -->
                  <ng-container *ngSwitchCase="'avatarUrl'">
                    <ng-container *ngIf="employees.avatarUrl; else defaultAvatar">
                      <img
                        [src]="employees.avatarUrl"
                        alt="Avatar von {{ employees.firstName }}"
                        class="avatar"
                      />
                    </ng-container>
                    <ng-template #defaultAvatar>
                      <mat-icon class="avatar-icon">account_circle</mat-icon>
                    </ng-template>
                  </ng-container>
        
  
                  <!-- Name -->
                  <span *ngSwitchCase="'lastName'">
                    {{ fullName(employees) }}
                  </span>
  
                  <!-- Status -->
                  <p-tag
                    *ngSwitchCase="'status'"
                    [value]="employees.status"
                    [severity]="
                        employees.status === 'active'   ? 'success' :
                        employees.status === 'on_leave'  ? 'warn' :
                        employees.status === 'terminated' ? 'danger'  :
                        'info'
                    "
                  ></p-tag>
  
                  <!-- Datum -->
                  <span *ngSwitchCase="'startDate'">
                    {{ employees.startDate | date : 'dd.MM.yyyy' }}
                  </span>
                  <span *ngSwitchCase="'nextReviewDate'">
                    {{ employees.nextReviewDate | date : 'dd.MM.yyyy' }}
                  </span>

                  <button *ngIf="col.field==='actions'" pButton type="button" icon="pi pi-eye"
                  class="p-button-text p-button-sm"
                  (click)="router.navigate(['/employeesPage', employees.id]); $event.stopPropagation()"
                  pTooltip="Details"></button>
  
                  <!-- Standard -->
                  <span *ngSwitchDefault>
                    {{ employees[col.field] }}
                  </span>
  
                </ng-container>
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  